.songSelection{
	width: 750px;
}

.artistContainer{
	border: 1px solid black;
	width:252px;
	padding: 5px;
}

.songSelectionContainer{
	border: 1px solid black;
	width: 700px;
	padding: 5px;
	float: right;
}

.songSelection{
	width: 1000px;
	border: 1px solid black;
}

.artist{
	width: 250px;
	height: 800px;
}

.songs{
		width: 400px;
		height: 650px;
		margin-left: 100px;
}

.scroll-pane{
	font-size: 0.6em;
	font-family: Arial, sans-serif;
	overflow: auto;
}

.right{
	float: right;

}

#feedback { 
	font-size: 1.4em; 
}

#selectArtist .ui-selecting,
#selectSongs .ui-selecting { 
	background: #FECA40; 
}

#selectArtist .ui-selected,
#selectSongs .ui-selected { 
	background: #F39814; 
	color: white; 
}

#selectArtist,
#selectSongs  { 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
}

#selectArtist li,
#selectSongs  li{ 
	margin: 3px; 
	padding: 0.4em; 
	font-size: 1.4em; 
	height: 18px; 
	width:90%;
}


.horizontal-only
{
	height: auto;
	max-height: 200px;
}