/* div sizes and layout */ 
.albumTitle{
	margin-bottom: 10px;
}

.title{
	background: #555;
	padding: 10px;
}

.nowPlaying{
	padding: 10px;
}

.songSelection{
	width: 750px;
}

.prev-played{
	margin-right: 10px;
}

.right{
	float: right;
}

/* links, headers */
a.menuItems{
	color: #f0f;
}

h4.media-heading{
	font-size: 1.8em;
	padding-bottom: 10px;
}

/* jquery ui selectable styles */
#feedback { 
	font-size: 1.4em; 
}

#selectArtist .ui-selecting,
#selectSongs .ui-selecting ,
#queueSelect .ui-selecting ,
#requestSelect .ui-selecting  { 
	background: #FECA40; 
}

#selectArtist .ui-selected,
#selectSongs .ui-selected ,
#queueSelect .ui-selected ,
#requestSelect .ui-selected { 
	background: #F39814; 
	color: white; 
}

#selectArtist,
#selectSongs { 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	height: 800px;
}

#queueSelect,
#requestSelect{
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	height: 288px;
	background: #fff;
}

#selectArtist li,
#selectSongs  li,
#queueSelect li,
#requestSelect li{ 
	padding: 0.4em; 
	font-size: 1.4em; 
	height: 30px; 
}

/* jscrollpane necissary styles */
.horizontal-only
{
	height: auto;
	max-height: 200px;
}

.scroll-pane{
	font-size: 0.6em;
	font-family: Arial, sans-serif;
	overflow: auto;
}