/* main elements */
body{
	font-family: 'Roboto', sans-serif;
}

a, a:hover{
	color: #000;
}

legend{
	margin-bottom:5px;
}

/* div styles */
.capsule{
	background: #000;
	font-size: 0.8em;
	padding: 3px;
	margin-bottom: 10px;
}

.panel-title{
	font-size: 1.2em;
}

.panel{
	padding: 0 0;
	border: 1px solid black;
}

div.containerPadded{
	padding: 5px;
	padding-top: 0px;
}

.row{
	padding: 10px;
}

.form-control{
	margin: 2px;
}


/* button styles */
.btn-margin{
	margin: 10px;
}

.controlButton, 
.controlButton:hover{
	color: #000;
	text-decoration: none;
}


/* Player controls */
.player{
	margin: 0px auto;
	max-width: 550px;
	border: 1px solid black;
	margin-bottom: 15px;
}

.playerControls{
	border-top: 1px solid black;
	background: #5bc0de;
	font-size: 1.2em;
	padding: 8px;
}

.playerNowPlaying{
  background-color: #2b3e50;
}

.ui-slider{
	margin-top: 5px;
	font-size: 0.9em;
	width: 120px;
	float: right;
}


/* image styles */
.streamIcon{
	margin: 10px 2px 10px 2px;
	width: 30px;
	height: 30px;
}

img.soundbars{
	margin-left: 30px;
	width: 100px;
	height: 25px;
}

/* positioning classes */
a:hover.noHover{
	text-decoration: none;
}

.noPadding{
	padding: 0px;
}

.noMargin{
	margin: 0px;
}

.textRight{
	text-align: right;
}

.right{
	float: right;
}

.center{
	text-align: center;
}

/* jquery ui media styles */
.prev-played{
	border: 1px solid black;
	height: 100px;
	width: 100px;
}

.media-heading{
	font-size: 1.1em;
}
